@model Ecom.DAL.user

@{ ViewBag.Title = "Login"; }

@if (TempData["msg"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Wrong Password',
            text: 'Please Enter a correct password'
        })
    </script>
}

@if (TempData["InvalidUser"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'User Not Present',
            text: 'Provide a valid user Name'
        })
    </script>
}

<link href="~/Content/css/login.css" rel="stylesheet" />

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="cards border border-1 rounded rounded-5">
        <div class="px-3 py-3" >
            <div class="d-flex justify-content-center">
                <h2>
                    LoginForm
                </h2>
            </div>
            <hr />
            <div class="mb-3">
                @Html.DisplayNameFor(x => x.userId)
                @Html.TextBoxFor(x => x.userId, new { @class = "form-control rounded rounded-5" })
            </div>
            <div class="mb-3">
                @Html.DisplayNameFor(x => x.password)
                @Html.TextBoxFor(x => x.password,new { @class = "form-control rounded rounded-5" })
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" style="width:200px">Log-In</button>
            </div>
            <hr />
            <div class="mb-3 d-flex justify-content-center">
                @Html.ActionLink("Sign-up", "Signup", "Account", null, new { @class = "btn btn-info" , @style="width:200px" })
            </div>
        </div>
    </div>
}